body {
    margin: 0;
    background: coral;
}

h1 {
    text-align: center;
    flex: 1;
}

header {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.pads {
    margin: 0 auto;
    width: 500px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
